body {
  font-family:'Roboto', 'Noto Sans KR', sans-serif;
}

#wrap {
  width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (max-width: 1170px) {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
    min-width: 468px;
    margin: 0 auto;
    padding: 0 15px;
  }
}


